<li id="track-<%= track.id %>">
  <%= link_to gravatar_for(track.user, size: 50), track.user %>
  <span class="track"><%= link_to track.title, track %></span>
  <h6 class="subheader"><%= link_to track.user.username, track.user %></h6>
  <span class="content"><%= track.description %></span>
</li>
<li id="track-<%= track.id %>-time">
  <h6 class="subheader">
    Posted <%= time_ago_in_words(track.created_at) %> ago.
    <% if current_user?(track.user) %>
      <%= link_to "delete", track, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </h6>
</li>
