<% provide(:title, "Tracks") %>
<div class="row">
  <aside class="medium-3 columns">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      <%= @user.email %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="medium-9 columns">
    <% if @user.tracks.any? %>
      <h2 class="center">Tracks</h2>
      <%= paginate @tracks, :window => 1, :param_name => :tracks %>
      <ol class="microposts">
        <%= render @tracks %>
      </ol>
      <%= paginate @tracks, :window => 1, :param_name => :tracks %>
    <% end %>
  </div>
</div>
