  <div class="row">
    <div class="medium-4 columns">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div class="medium-8 columns">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>
<% if @track.description? %>
<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>
<% end %>
<p>
  <strong>Genre:</strong>
  <%= @track.genre_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.user_id %>
</p>
<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>    

    </div>    
  </div>


