<% provide(:title, 'All Users') %>
<div class="row">
  <aside class="medium-3 columns">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
  </aside>
  <div class="medium-9 columns">
    <h2 class=" center">All Users</h2>
  <br />
<%= paginate @users, :window => 1, :param_name => :page %>
<ol class="users microposts">
    <%= render @users %>
</ol>
<br />
<%= paginate @users, :window => 1, :param_name => :page %>
</div>
</div>
