<% provide(:title, @user.username) %>
<div class="row">
  <aside class="medium-3 columns">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      <%= @user.email %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="medium-6 columns">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.tracks.any? %>
      <br />
      <%= paginate @tracks, :window => 1, :param_name => :tracks %>
      <ol class="microposts">
      <h6 class="subheader center">Audio Feed</h6>
        <%= render @tracks %>
      </ol>
    <% end %>
  </div>
  <bside class="medium-3 columns">
    <% if @user.microposts.any? %>
      <br />
      <%= paginate @microposts, :window => 0, :param_name => :feed %>
      <ol class="microposts">
      <h6 class="subheader center">Posts</h6>
        <%= render @microposts %>
      </ol>
    <% end %>
  </bside>
</div>
