<p id="notice"><%= notice %></p>

<p>
  <strong>Check:</strong>
  <%= @example.check %>
</p>

<p>
  <strong>It:</strong>
  <%= @example.it %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
