<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "frontpage" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
		
		
		</head>

  <body id="frontpage" class='<%= controller.controller_name %>'>
    <div class="container">
      <%= yield %>
    </div>


    <%= javascript_include_tag "frontpage" %>


  </body>
</html>
